<h1>Welcome!!!</h1>
<h3 class="user"><%= user.email %></h3>
<h3 class="user"><%= user.id %></h3>

<a href="/scripts/new">Add New Script</a>

<% scripts.forEach(function(script) { %>
    <h1><%= script.name %></h1>
    <h1><%= script.shortName %></h1>
    <h1><%= script.description %></h1>
    <h1><%= script.script %></h1>
    <h1><%= script.date %></h1>
<% }); %>
